@use 'base/variables' as v;
@use 'base/mixins' as m;

.proyectos-fondo {
    background-color: v.$claro;
}

.proyectos {
    padding: 5rem 0;
    h2 {
        font-size: 5rem;
    }
}


.galeria-proyectos {
    @include m.telefono {
        @include m.grid(2,2rem)
    }

    @include m.tablet {
        @include m.grid(4,2rem)
    }

    @include m.desktop {
        @include m.grid(6,2rem)
    }

    a {
        -webkit-box-shadow: -2px 6px 20px -6px rgba(0,0,0,0.59);
        -moz-box-shadow: -2px 6px 20px -6px rgba(0,0,0,0.59);
        box-shadow: -2px 6px 20px -6px rgba(0,0,0,0.59);
    }
}